
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background:linear-gradient( 45deg, rgb(6, 255, 6), rgb(30, 0, 255));
    font-family: sans-serif;
   
}

.app{
    display: block;
    background-color: white;
    margin: 20 500px;
    padding: 50px;
    width: 35%;
}

h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
}

label{
    display: block;
    margin-bottom: 20px;
    
}

input{
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;

}

button{
    background-color: green;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin: 0 180;

}

.ss{
    width: 5%;
}
